[Unit]
Description=Check BJUT campus network login periodically

[Timer]
OnActiveSec=20s
OnUnitInactiveSec=60s
AccuracySec=10s
RandomizedDelaySec=5s
Unit=bjut-auto-login.service

[Install]
WantedBy=timers.target
