[Unit]
Description=Check BJUT campus network login periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=10s
RandomizedDelaySec=5s
Persistent=true
Unit=bjut-auto-login.service

[Install]
WantedBy=timers.target
